@{
    ViewBag.Title = "Over";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>Equine Elegance is een nieuwe paardenwebshop gevestigd in België. Wij hopen dat je net zo tevreden zal zijn over onze producten net als ons!</p>

    @{
        ViewBag.Title = "Privacybeleid";
    }
    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>

        <p>Privacybeleid EquineElegance</p>
        <p>Versie 0.1<br />Deze pagina is voor het laatst aangepast op 10/01/2025.</p>

        <p>Wij zijn er van bewust dat u vertrouwen stelt in ons. Wij zien het dan ook als onze verantwoordelijkheid om uw privacy te beschermen. Op deze pagina laten we u weten welke gegevens we verzamelen als u onze website gebruikt, waarom we deze gegevens verzamelen en hoe we hiermee uw gebruikservaring verbeteren. Zo snapt u precies hoe wij werken.</p>

        <p>Dit privacybeleid is van toepassing op de diensten van EquineElegance. U dient zich ervan bewust te zijn dat EquineElegance niet verantwoordelijk is voor het privacybeleid van andere sites en bronnen. Door gebruik te maken van deze website geeft u aan het privacybeleid te accepteren.</p>

        <p>EquineElegance respecteert de privacy van alle gebruikers van haar site en draagt er zorg voor dat de persoonlijke informatie die u ons verschaft vertrouwelijk wordt behandeld.</p>

        <h3>Ons gebruik van verzamelde gegevens</h3>
        <p>
            <strong>Gebruik van onze diensten</strong><br />
            Wanneer u zich aanmeldt voor een van onze diensten vragen we u om persoonsgegevens te verstrekken. Deze gegevens worden gebruikt om de dienst uit te kunnen voeren. De gegevens worden opgeslagen op eigen beveiligde servers van EquineElegance of die van een derde partij. Wij zullen deze gegevens niet combineren met andere persoonlijke gegevens waarover wij beschikken.
        </p>

        <p>
            <strong>Communicatie</strong><br />
            Wanneer u e-mail of andere berichten naar ons verzendt, is het mogelijk dat we die berichten bewaren. Soms vragen wij u naar uw persoonlijke gegevens die voor de desbetreffende situatie relevant zijn. Dit maakt het mogelijk uw vragen te verwerken en uw verzoeken te beantwoorden. De gegevens worden opgeslagen op eigen beveiligde servers van EquineElegance of die van een derde partij. Wij zullen deze gegevens niet combineren met andere persoonlijke gegevens waarover wij beschikken.
        </p>

        <p>
            <strong>Cookies</strong><br />
            Wij verzamelen gegevens voor onderzoek om zo een beter inzicht te krijgen in onze klanten, zodat wij onze diensten hierop kunnen afstemmen. Deze website maakt gebruik van "cookies" (tekstbestanden die op uw computer worden geplaatst) om de website te helpen analyseren hoe gebruikers de site gebruiken. De door het cookie gegenereerde informatie over uw gebruik van de website kan worden overgebracht naar eigen beveiligde servers van EquineElegance of die van een derde partij. Wij gebruiken deze informatie om bij te houden hoe u de website gebruikt, om rapporten over de website-activiteit op te stellen en andere diensten aan te bieden met betrekking tot website-activiteit en internetgebruik.
        </p>

        <p>
            <strong>Doeleinden</strong><br />
            We verzamelen of gebruiken geen informatie voor andere doeleinden dan de doeleinden die worden beschreven in dit privacybeleid, tenzij we van tevoren uw toestemming hiervoor hebben verkregen.
        </p>

        <p>
            <strong>Derden</strong><br />
            De informatie wordt niet met derden gedeeld. In enkele gevallen kan de informatie intern gedeeld worden. Onze werknemers zijn verplicht om de vertrouwelijkheid van uw gegevens te respecteren.
        </p>

        <p>
            <strong>Veranderingen</strong><br />
            Deze privacyverklaring is afgestemd op het gebruik van en de mogelijkheden op deze site. Eventuele aanpassingen en/of veranderingen van deze site, kunnen leiden tot wijzigingen in deze privacyverklaring. Het is daarom raadzaam om regelmatig deze privacyverklaring te raadplegen.
        </p>

        <h3>Keuzes voor persoonsgegevens</h3>
        <p>Wij bieden alle bezoekers de mogelijkheid tot het inzien, veranderen, of verwijderen van alle persoonlijke informatie die op moment aan ons is verstrekt.</p>

        <h4>Aanpassen/uitschrijven dienst nieuwsbrief</h4>
        <p>Onderaan iedere mailing vindt u de mogelijkheid om uw gegevens aan te passen of om u af te melden.</p>

        <h4>Aanpassen/uitschrijven communicatie</h4>
        <p>Als u uw gegevens aan wilt passen of uzelf uit onze bestanden wilt laten halen, kunt u contact met ons opnemen. Zie onderstaande contactgegevens.</p>

        <h4>Cookies uitzetten</h4>
        <p>De meeste browsers zijn standaard ingesteld om cookies te accepteren, maar u kunt uw browser opnieuw instellen om alle cookies te weigeren of om aan te geven wanneer een cookie wordt verzonden. Het is echter mogelijk dat sommige functies en “services” op onze en andere websites niet correct functioneren als cookies zijn uitgeschakeld in uw browser.</p>

        <h3>Vragen en feedback</h3>
        <p>We controleren regelmatig of we aan dit privacybeleid voldoen. Als u vragen heeft over dit privacybeleid, kunt u contact met ons opnemen:</p>
        <p>
            EquineElegance<br />
            Scheutistenlaan 12, 8500 Kortrijk<br />
            330053@student.creo.be
        </p>
    </main>

</main>