@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    

    <address>
        CVO CREO<br />
        Scheutistenlaan 12<br />
        8500 Kortrijk
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">330053@student.creo.be</a><br />
    </address>
</main>