@{
    ViewBag.Title = "Home Page";
}

<main>
	<div class="container py-5 body-content">
	<div class="text-center mb-5">
		<h1>Welkom bij Equine Elegance!</h1>
		<p>Your one-stop shop for all your equestrian needs.</p>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="highlight-box" style="background-color: #fff7e0;">
				<h3>Ruiter</h3>
				<p>Explore caps and riding pants for comfort and style.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="highlight-box" style="background-color: #fff7e0;">
				<h3>Paard</h3>
				<p>Discover blankets and saddle pads for your horse.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="highlight-box" style="background-color: #fff7e0;">
				<h3>Stal</h3>
				<p>Enhance your stable with feeders and tack rooms.</p>
			</div>
		</div>
	</div>
	</div>
</main>