@{
    ViewBag.Title = "Home Page";
}

<main>
	<div class="container py-5 body-content">
	<div class="text-center mb-5">
		<h1>Welkom bij Equine Elegance!</h1>
		<p>Jouw één-stop shop voor allerlei spullen voor jou, je paard en je stal.</p>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="highlight-box" style="background-color: #fff7e0;">
				<h3>Ruiter</h3>
				<p>Ontdek onze caps en rijbroeken voor comfort en stijl.</p>
				<div class="d-flex justify-content-between">
					<img src="~/Content/Images/Home/Ruiter.png" class="img-fluid" style="width: 350px; height: 350px; object-fit: cover;" alt="Paard Decken 1">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="highlight-box" style="background-color: #fff7e0;">
				<h3>Paard</h3>
				<p>Ontdek onze paardendekens en dekjes voor jouw paard.</p>
				<div class="d-flex justify-content-between">
					<img src="~/Content/Images/Home/Paard.jpeg" class="img-fluid" style="width: 350px; height: 350px; object-fit: cover;" alt="Paard Decken 1">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="highlight-box" style="background-color: #fff7e0;">
				<h3>Stal</h3>
				<p>Verbeter je stal met voederbakken en spullen voor de zadelkamer.</p>
				<div class="d-flex justify-content-between">
					<img src="~/Content/Images/Home/Stal.jpg" class="img-fluid" style="width: 350px; height: 350px; object-fit: cover;" alt="Paard Decken 1">
				</div>
			</div>
		</div>
	</div>
	</div>
</main>